@inject IProductService ProductService
@implements IDisposable


@if (ProductService.Products.Count == 0)
{
    <p><em>@ProductService.Message</em></p>
}
else
{
<ul class="list-unstyled">

    @foreach (Product product in ProductService.Products!)
    {
        <li class="media my-3">
            <div class="media-img-wrapper mr-2">
                        <a href="/products/@product.Id">
                    <img class="media-img" src="@product.ImageUrl" alt="@product.Title" />
                </a>
            </div>
            <div class="media-body">
                        <a href="/products/@product.Id">
                    <h4 class="mb-0">@product.Title</h4>
                </a>
                <p>@product.Description</p>
                <h5 class="price">@GetProductPriceText(product)</h5>
            </div>
        </li>
    }
    
    </ul>

    if (RenderPagination)
    {
        for (int pageIdx = 1; pageIdx <= ProductService.PageParameters.TotalPages; pageIdx++)
        {
            <a class="btn @GetPageButtonStyle(pageIdx) page-selection"
               href="products/search?searchString=@ProductService.PageParameters.LastSearchString&page=@pageIdx">
                @pageIdx
            </a>
        }
    }

   
}


@code {
    /// <summary>
    /// Optional paramter to render the pagination markup. Defaults to false.
    /// </summary>
    [Parameter]
    public bool RenderPagination { get; set; } = false;

    protected override void OnInitialized()
    {
        // Add event handler
        ProductService.ProductsListUrlChanged += HandleProductsChanged!;
    }

    public void Dispose()
    {
        // remove event handler
        ProductService.ProductsListUrlChanged -= HandleProductsChanged!;
    }

    /// <summary>
    /// Event handler for re-rendering ProductList component
    /// </summary>
    /// <param name="sender"></param>
    /// <param name="e"></param>
    public async void HandleProductsChanged(object sender, EventArgs e)
    {
        await InvokeAsync(() => StateHasChanged());
    }

    private string GetProductPriceText(Product product)
    {
        string priceText = string.Empty;
        List<ProductVariant>? variants = product.Variants;

        if (variants.Count == 0)
            return priceText;

        if (variants.Count == 1)
            return $"${variants[0].Price}";

        decimal minPrice = variants.Min(v => v.Price);

        return $"Starting @ ${minPrice}";
    }

    private string GetPageButtonStyle(int pageIdx)
    {
        return pageIdx == ProductService.PageParameters.Page
                ? "btn-info"
                : "btn-outline-info";
    }
}
